<app-default-login-layout
  title="Login into account"
  primaryBtnTxt="Login"
  secondaryBtnTxt="Signup"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="loginForm.valid"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="johndoe@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg" alt="">
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Your Password"
    >
      <img src="/assets/svg/password-icon.svg" alt="">
    </app-primary-input>
    <span>Forgot password</span>
  </form>
</app-default-login-layout>